header {
    background: "#BF2121";
}
h1 {
    margin: 0;
}
.take-in-link {
     color: "#BF2121";
     text-decoration: none;
}
.connexion {
    color: white;
    text-decoration: none;
}
.inscription{
    color: white;
    text-decoration: none;
}
a:hover{
    color: inherit;
}
